/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2014, 8:59:09 PM
    Author     : Joshua
*/
.root{

}
.home-buttons {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.home-buttons:hover {
    -fx-background-color: 
        /*linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
         #9d4024,
        #d86e3a,*/
        radial-gradient(center 50% 50%, radius 100%,#333333 ,#333333);
}
.home-buttons:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.scroll-pane{
    -fx-background-color:#181818;
}

.main-menu-button{
    -fx-font-family:lao ui;
    -fx-font-weight:bold;
    -fx-font-size:10px;
    -fx-background-color:#111111;
}
.main-menu-button .label{
    -fx-text-fill:#ffffff;
}

.menu-item{
    -fx-font-size:10px;
    -fx-background-color:#111111;
}
.button{
    -fx-font-family:lao ui;
    -fx-font-weight:bold;
    -fx-font-size:15px;
    -fx-text-fill: #ffffff;
    -fx-background-color:#222222;
}
.menu-buttons.button{
    -fx-background-color:#333333;
    -fx-font-weight:normal;
    -fx-font-size:9px;
    -fx-text-fill: white; 

}
.menu-item:focused{
    -fx-background-color:#333333;
}
.main-menu-button .arrow{
    -fx-background-color:#106435;
}
.main_background{
    -fx-background-color:#222222;
}
.main_background_with_border{
    -fx-background-color:#222222;
    -fx-border-color:rgba(0,0,0,0.2);
}
.mini_header_text_white{
    -fx-font-family:Lao ui;
    -fx-font-size:15px;
}
.element-green{
    -fx-background-color:#106435;
}
.element-torqoise{
    -fx-background-color:#1E7983;
}
.white-labels{
    -fx-font-family:lao ui;
    -fx-font-weight:bold;
    -fx-font-size:10px;
    -fx-text-fill: red;
}
.element-red{
    -fx-background-color: #d30811;
}
.element-orange{
    -fx-background-color:#D74E2A;

}
.background_layer2{
    -fx-background-color:#181818;
}
.dropdown{
    -fx-background-color:#0070C0;
}
.header_pane{
    -fx-background-color:#ffffff;
}
.mini_pane_with_border{
    -fx-background-color:#181818;
    -fx-border-color:rgba(0,0,0,0.2);
}
.mini_pane{
    -fx-background-color:#181818;
}
.label{
    -fx-font-family:lao ui;
    -fx-text-fill: #ffffff;
    -fx-font-weight:normal;
    -fx-font-size:15px;
}
.info-label-bold{
    -fx-font-family:lao ui;
    -fx-text-fill: black;
    -fx-font-weight:bold;
    -fx-font-size:13px;
}.info-label-normal{
    -fx-font-family:lao ui;
    -fx-text-fill: black;
    -fx-font-weight:normal;
    -fx-font-size:10px;
}
